body {
  background-color: black;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 8vh;
  color: orange;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 4vh;
  color: orange;
  margin-bottom: 0;
}

p {
  text-align: center;
  color: #00bcff;
  font-size: 2vw;
}

#map {
  background: url(../images/map.png) left top no-repeat;
  background-size: contain;
  width: 1121px;
  height: 637;
  margin: auto;
  position: relative;
}

#current-location {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 3px solid #00bcff;
  background: orange;
  left: 813px;
  top: 350px;
}

.destination {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  padding: 4px 0 0 5px;
}

.destination::after {
  border-radius: 3px;
  background: white;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.destination.left::after {
  right: -6px;
  left: auto;
}

.destination span {
  color: #ffdb4d;
}

.donate-button {
  position: absolute;
}

#abkhazia {
  left: 567px;
  top: 207px;
}

#abkhazia::after {
  left: 32px;
}

.donate-button.abkhazia {
  left: 535px;
  top: 229px;
}

#bali {
  left: 870px;
  top: 410px;
}

.donate-button.bali {
  left: 839px;
  top: 432px;
}

#goa {
  left: 644px;
  top: 324px;
}

.donate-button.goa {
  left: 612px;
  top: 346px;
}

#vietnam {
  left: 848px;
  top: 318px;
}

#vietnam::after {
  top: 12px;
  left: -3px;
}

.donate-button.vietnam {
  left: 817px;
  top: 301px;
}

#philippines {
  left: 903px;
  top: 345px;
}

.donate-button.philippines {
  left: 850px;
  top: 367px;
}

#peru {
  left: 124px;
  top: 410px;
}

.donate-button.peru {
  left: 93px;
  top: 432px;
}
